# Connection strings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=bps-web
POSTGRES_SSL=false

# Leave blank for localhost
REDIS_URL=

# Allow graphql introspection even in production (introspection is already enabled in development environment)
ENABLE_INTROSPECTION=true

# Application runtime settings
CACHE_TTL=300
DEFAULT_PAGE_SIZE=10
MAX_PAGE_SIZE=100
MAX_COMMENTS_LENGTH=2000
MAX_BLOCK_MEDIA=3
RUN_DB_MIGRATION=true
RUN_DB_SEED=true

GRAPHQL_ENDPOINT_PORT=8080
MEDIA_UPLOAD_ENDPOINT_PORT=8081

# Can leave these blank for localhost, but they need to be set for azure path based routing
GRAPHQL_BASE_URL_PATH=
MEDIA_UPLOAD_BASE_URL_PATH=

#Azure Storage Account, todo: the secret key to be fetched from key vault
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_ENDPOINT=

# CORS config - comma delimited set of URLs used as web clients which access the API server
# leave as blank to send * which is open access from any host
CLIENT_URI=http://[::]:55555,http://localhost:55555

#App center push notification
APPCENTER_PUSH_URL=
APPCENTER_PUSH_API_TOKEN=
APPCENTER_PUSH_OWNER_NAME=
APPCENTER_PUSH_APP_NAME=

# Default user information for local development
DEFAULT_DEV_USER_ID=ce3dfcc3-b0c9-4940-b4b9-5940ecb12cbf
DEFAULT_DEV_PROJECT_ID=3071629f-356e-428a-8ce2-f55938bb8055
DEFAULT_JOB_NUMBER=25873
DEFAULT_SUB_JOB_NUMBER=xxx

#EIP_USE_FIXTURES, true or false, true value invokes fixture data to simulate EIP, false invokes EIP endpoints
EIP_USE_FIXTURES=false

# EIP Endpoint
EIP_ENDPOINT_URL=https://depapiext.dev.becpsn.com/qa/graphql
EIP_API_KEY_HEADER_KEY="X-myPSN-AppKey"
EIP_API_KEY_HEADER_VALUE=
EIP_AUTH_TOKEN_HEADER_KEY=Authorization

MEDIA_SERVER=http://localhost:8081

# IAM Token endpoint
IAM_SSO_URL=https://fig1.dev.becpsn.com/openam/oauth2/authorize?service=AppAuth&client_id=BPS&response_type=code&scope=becProfile%20profile%20openid%20subject&redirect_uri=http://localhost:8080/auth
IAM_ACCESS_TOKEN_URL=https://fig1.dev.becpsn.com/openam/oauth2/access_token
IAM_JWK_URL=https://fig1.dev.becpsn.com/openam/oauth2/realms/root/connect/jwk_uri
IAM_GRANT_TYPE=authorization_code
IAM_CLIENT_ID=
IAM_CLIENT_SECRET=
IAM_REDIRECT_URL=http://localhost:8080/auth
WEB_CLIENT_AUTH_CALLBACK_URL=http://[::]:55555/auth/callback